ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  ul.thumbnails.image_picker_selector li.group_title {
    float: none; }
  ul.thumbnails.image_picker_selector li {
 }
    ul.thumbnails.image_picker_selector li .thumbnail {
      
      border: 4px solid #d0d0d0; background: #f0f0f0; padding: 20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; 
    cursor: pointer;}
      ul.thumbnails.image_picker_selector li .thumbnail img {
        -webkit-user-drag: none; }
    ul.thumbnails.image_picker_selector li .thumbnail.selected {
      border: 4px solid #0088cc; background: #d0d0d0; }
